.auth-tabs-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.auth-tabs {
  display: flex;
  margin-bottom: 30px;
  border-bottom: 2px solid #eee;
  text-decoration: none;
}

.auth-tab {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 600;
  color: #888;
  transition: all 0.3s ease;
}

.auth-tab.active {
  color: #138d75;
  border-bottom: 3px solid #138d75;
}